
.home-container{
  background-color: #1F1F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
 padding: 5%;
}

.search-container{
  background-color: brown;
  height: 33px;
  width:400px
}

.search-container input{
  height:100%;
  width:100%
}

.anime-list{
  width: 1000px;
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}

.card{
  width:30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card img{
  border-radius: 17%;
  width: 70%;
  height: 50%;
}

.card h2{
  height: 12%;
  width:75%;
  text-align: center;
}

.card h2, .card p{
  color: #8B8A89
}

.search-container input{
  background-color: #373737;
  position: relative;
    border: none;
    outline: none;
    right:-20;
    height: 30;
    width: 270;
    border-radius: 7;
    padding: 20px;
}

.fa-search{
  font-family: 'FontAwesome';

  color: 'red';
   font-size: 15;
  position : absolute;
  padding-top:7
}

.link{
  text-decoration: none;
  color: #FED22F;
}
